/* Use borders to draw a box */
body {
    background-color: dodgerblue;
}
.jumbotron{
    font-family: Chilanka ;
    background-color: darkgray;
    text-align: center;
}
table {
    margin: auto;
}

td {
    font-family: Chilanka;
    color: darkgray;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 65px;
}
#idRestartbutton{
    background-color: darkgray;
    color: darkblue;
}

td:hover {
    border: 1px solid grey;
}

.vertical {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.horizontal {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#idRestartbutton
{
    position:relative;
    top:50%;
    left:85%;
}